<div class="container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="250"
     (scrolled)="onScroll()">
  <div class="col-md-12  header">
    <div class="row col-md-12">

      <div class="col-md-4">
        <span class="lead">Flickr Galery Photo Search</span>
      </div>

      <div class="col-md-4">
        <span *ngIf="!loading" class="lead">
          Found: {{results.photos.total}} photo
        </span>

        <span *ngIf="loading" class="text-center">
          <fa name="circle-o-notch" size="1x 2x" animation="spin"></fa>
          <span class="lead">Loading...</span>
        </span>
      </div>

      <div class="col-md-4 search">
        <div class="form-inline" >
          <div class="form-group" >
            <input class="form-control" type="text" placeholder="Enter search string" [(ngModel)]="searchString">
            <button class="btn btn-info" (click)="onSearch()">Search</button>
          </div>
        </div>
      </div>


    </div>

    <div class="row col-md-12">Photos who's title, description or tags contain the text will appear. You can exclude results that match a term
      by prepending it with a - character.
    </div>

  </div>



  <div class="row col-md-12">
    <div class="col-md-4" *ngFor="let p of currentPhotos; trackBy: auto | async">
      <img src='https://farm{{p.farm}}.staticflickr.com/{{p.server}}/{{p.id}}_{{p.secret}}_z.jpg'>
    </div>
  </div>
</div>
